{:name "docy"
 ; run-time
 :sci-cljs-ns [docy.page]
  
 :clj-service [{:fun docy.core/docy-data :permission nil :ctx :docy}
               {:fun docy.core/markdown-doc :permission nil :ctx :docy}]
;
 }