{:paths ["src"
         "resources" ; extension data
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  org.pinkgorilla/goldly-docs {:mvn/version "0.9.40"}
  io.github.pink-gorilla/docy {:local/root ".." :deps/manifest :deps}
  ; libs we want to document
  scicloj/tablecloth {:mvn/version "7.029.2"} ; brings techml-dataset
  }
 :aliases
 {:docy {; usecase: clj -X:docy
         :exec-fn modular.system/start!
         :exec-args {:profile "jetty"
                     :config ["config.edn"]
                     :services "services.edn"}}

;
  }}

