 {:modular (modular.system/modular-env)  ; {:profile "jetty"  :config ["demo.edn" "secrets.edn"]}
 :components
 {:config1 {:start (modular.config/load-config! (:config #ref [:modular]))}
  :config {:start (deref (clip/ref :config1))}

  :exts {:start (extension/discover)}

  :timbre {:start (modular.log/timbre-config!
                   (:timbre/clj (clip/ref :config)))}

  ; empty map means no users are configured, so always permissioned.
  :permission {:start (modular.permission.core/start-permissions {})}

  :clj-service {:start (clj-service.core/start-clj-services
                        (clip/ref :permission)
                        (clip/ref :exts))}

  :reval {:start (reval.core/start-reval
                  {:config (:reval (clip/ref :config))
                   :clj  (clip/ref :clj-service)
                   :reval-role nil})}

  :webly {:start (webly.spa/start-webly
                  {:exts (clip/ref :exts)}
                  (clip/ref :config)
                  (:profile #ref [:modular]))
          :stop (webly.spa/stop-webly this)}

  :nrepl {:start (nrepl.server/start-server
                  :bind "0.0.0.0"
                  :port 9100
                  :middleware cider.nrepl.middleware/cider-middleware
                  :handler cider.nrepl/cider-nrepl-handler)
          :stop (.close this)}

  ;; DOCY

  :docy {:start (docy.core/start-docy
                 {:exts (clip/ref :exts)
                  :clj (clip/ref :clj-service)
                  :role nil
                  :namespaces (:namespaces (:docy (clip/ref :config)))
                  :snippets (:snippets (:docy (clip/ref :config)))
                  })}



;
  }}
